{#page formulaire dépôt d'avis, variable: commande->obj Commande pr laquelle avis déposé#}

{% extends 'base.html.twig' %}

{% block title %}Laisser un avis — Vite & Gourmand{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
{% endblock %}

{% block body %}

<div class="hero-bandeau">
    <h1 class="hero-titre">Laisser un avis</h1>
</div>

<section class="login-container">
    <div style="width:100%;max-width:540px">
        <div class="login-card">

            {#rappel#}
            <div class="form-rappel mb-4">
                <p class="form-rappel-texte">
                    Menu : <strong>{{ commande.menu.titre }}</strong><br>
                    Prestation du {{ commande.datePrestation|date('d/m/Y') }}
                </p>
            </div>

            <form method="post"
                  action="{{ path('app_user_avis', {commandeId: commande.id}) }}">

                {#csrf w/id commande,  évite réutilisa° token #}
                <input type="hidden" name="_token"
                       value="{{ csrf_token('avis_' ~ commande.id) }}">

                {#notes #}
                <div class="mb-4">
                    <label class="form-label">Note * (de 1 à 5)</label>
                    <div class="d-flex gap-2">
                        {% for i in 1..5 %}
                        <div>
                            <input type="radio"
                                   name="note"
                                   id="note{{ i }}"
                                   value="{{ i }}"
                                   required
                                   class="star-input">
                            <label for="note{{ i }}" class="star-label">●</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                {#commentaires#}
                <div class="mb-4">
                    <label for="commentaire" class="form-label">Commentaire *</label>
                    <textarea id="commentaire"
                              name="commentaire"
                              class="form-control"
                              rows="4"
                              placeholder="Partagez votre expérience..."
                              required></textarea>
                </div>

                <button type="submit" class="btn btn-vert w-100">
                    Envoyer mon avis
                </button>

            </form>

            <hr class="form-hr">

            <div class="login-footer">
                <a href="{{ path('app_user_dashboard') }}" class="form-lien-oubli">
                    ← Retour à mes commandes
                </a>
            </div>

        </div>
    </div>
</section>

{% endblock %}

{% block page_js %}
    {# JS étoiles interactives chargé uniquement sur cette page #}
    <script src="{{ asset('js/stars.js') }}"></script>
{% endblock %}